<!-- INCLUDING CSS -->
<link rel="stylesheet" href="/css/create_user_form.css">

<!-- ASIDE SECTION USERS LIST PAGE -->
<aside class="aside-section">
    <img src="/images/icons/close-white.png" alt="" id="close-form-btn" class="item-hover">

    <!-- CREATE USER FORM -->
    <form class="create-user-form" action="/users/create">
        <p>Name</p>
        <input class="button-hover" type="text" placeholder="Enter name.." required name="name" id="input-user-name">
        <p>Email</p>
        <input class="button-hover" type="email" placeholder="Enter email.." required name="email" id="input-user-email">
        <p>Password</p>
        <input class="button-hover" type="text" placeholder="Enter password.." required name="password" id="input-user-password">
        <p>Confirm Password</p>
        <input class="button-hover" type="text" placeholder="Enter again.." required name="confirm_password" id="confirm-password">
        <input class="button-hover" type="submit" value="CREATE USER" id="submit-form">
      
    </form>
    

</aside>