<link rel="stylesheet" href="/css/pendig_reviews_admin.css">


<section class="pending-reviews-container">
    <div class="pending-reviews-heading">
        <p>Pending Reviews</p>
        
    </div>
    <div class="pending-reviews">
        <!-- PENDING REVIEWS WILL BE RENDERED DYNAMICALLY USING JAVASCRIPT -->

    </div>


</section>