<link rel="stylesheet" href="/css/reviews_admin.css">

<!--SUBMITTED REVIEWS CONTAINER -->
<section class="reviews-container">
    <div class="reviews-heading">
        <p>Reviews</p>
        <img class="item-hover" src="/images/icons/add-white.png" id="add-review-btn" alt="add reviews">
    </div>


    <!-- including create review form -->
    <%-include("_create_review_form") %>


    <div class="reviews">
        <!-- REVIEWS WILL BE RENDERED DYNAMICALLY USING JAVASCRIPT -->
    </div>



</section>