<link rel="stylesheet" href="/css/submit_feedback_form.css">

    <!-- SUBMIT FEEDBACK FORM -->
<div class="form-container">
    <div>

        <p id="username">NAME</p>
    </div>
    <form class="submit-feedback" action="">
        <label for="">Feedback</label>
        <textarea class="button-hover" name="feedback" required id="" cols="30" rows="10" placeholder="Write your feedback here.."></textarea>
        <input class="button-hover"  type="submit" value="SUBMIT FEEDBACK">
        <input class="button-hover" type="text" hidden name="isSubmitted" value="true" >
    </form>
    <button class="button-hover" id="close-form-btn">CLOSE</button>
</div>