<link rel="stylesheet" href="/css/home_admin.css">

<main class="main-container">

    <div class="assign-reviews">
        <p>Assign Reviews</p>
        <img class="item-hover" src="/images/icons/add-white.png" alt="Assign Review Btn" id="open-assign-review-form">

    </div>
    <!-- including assign review form -->
    <%-include("_assign_review_form") %>
    
    
    <!-- including pending reviews section -->
    <%-include("_pending_reviews_admin") %>

<!-- including reviews section -->
    <%-include("_reviews_admin") %>



    
    
</main>

<script type="text/javascript" src="/js/home_admin.js">

</script>