<link rel="stylesheet" href="/css/user_list.css">

<main>

    <section class="user-list-container" id="user-list-container">
            <img class="item-hover"  src="/images/icons/add-white.png" alt="" id="open-create-user-form">
            <div class="users-list">


                <!-- USERS WILL BE RENDERED DYNAMICALLY USING JAVASCRIPT -->

            </div>
            
    
    
    </section>
    
        <%-include("_create_user_form")  %>
</main>





<script type="text/javascript" src="/js/user_list.js"></script>