<link rel="stylesheet" href="/css/user_login.css">

<!-- SIGN IN PAGE -->
<div class="sign-in-container">
    <img src="/images/backgrounds/1.jpg" alt="">
    <div class="sign-in">
        <h2>SIGN IN</h2>
        <form action="/users/create-session" method="post">
            <p>Email</p>
            <input class="button-hover" name="email" type="email" required placeholder="Enter your Email..">
            <p>Password</p>
            <input class="button-hover" name="password" type="password" required placeholder="Enter Your Password">
            <input class="button-hover" id="submit-login"  type="submit" value="LOG IN" >
        </form>

    </div>

</div>