/* Declaring variables to root */
:root {
    --fontColor: rgb(255, 255, 255);
    --fontFamily: Consolas;
    --itemColor: rgb(82, 82, 82);
    --headerColor: rgb(21, 133, 114);
    --backgroundColor: rgb(128, 128, 128);
    --borderColor: rgb(255, 255, 255);
    --formColor: rgb(86, 153, 142);
    --buttonColor: rgb(21, 133, 114);
    --successNotifyColor: rgb(23, 92, 80);
    --errorNotifyColor: rgb(231, 87, 79);
}



/* TO CUSTOMIZE TOASTR NOTIFICATIONS */

#toast-container>div.toast {
    opacity: 1;
}

.toast-success {
    background-color: var(--successNotifyColor);
}

.toast-error {
    background-color: var(--errorNotifyColor);

}

body {
    box-sizing: border-box;
    margin: 0;
    position: fixed;
}

/* setting style on root */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--fontFamily);
}

::-webkit-scrollbar {
    width: 0;
}


/* declaring hover classes */

.item-hover {
    transition: all 0.3s ease-in-out;
}

.item-hover:hover {
    scale: 1.1;
}

.text-hover:hover {
    filter: brightness(0.9);
}

.button-hover:hover {
    filter: brightness(0.9);
}