/* STYLING USER LIST PAGE */
main {
    width: 100vw;
    height: 100vh;
    border-top: 2px solid var(--borderColor);
    background-image: url(/images/backgrounds/7.jpg);
    background-size: cover;
}

.user-list-container {
    transition: width 0.5s ease;
    padding-top: 40px;
    margin-left: 2%;
    width: 90vw;
    position: relative;
    height: 90vh;
    overflow: hidden;
}

.user-list-container>img {
    width: 40px;
    position: absolute;
    right: 1%;
    top: 1%;
}

.users-list {
    width: 100%;
    margin-top: 10px;
    overflow: scroll;
    position: relative;
    height: 80vh;
}


/* styling each item */
.user-container {
    margin-top: 5px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin-left: 2%;
    border: 2px solid var(--borderColor);
    ;
    border-radius: 5px;
    background-color: var(--itemColor);
    width: 96%;
    height: 10%;
}

.user-container div {
    display: flex;
    width: 25%;
    justify-content: space-between;
}

.user-container>p {
    width: 25%;
    color: var(--fontColor);
    ;
    margin-left: 5px;
    font-size: 16px;
    font-weight: 500;
}

.user-container img {
    width: 30px;
    margin-right: 5px;
}